In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
crime = pd.read_csv('nycrime.csv')
crime

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3
4,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0
5,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0
6,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0
7,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN
8,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN
9,Alfred Village,"4,089",5,0,NaN,0,3,2,46,10,36,0,NaN
10,Allegany Village,"1,781",3,0,NaN,0,0,3,10,0,10,0,0
11,Amherst Town,"118,296",107,1,NaN,7,31,68,"2,118",204,"1,882",32,3
12,Amityville Village,"9,519",9,0,NaN,2,4,3,210,16,188,6,1
13,Amsterdam,"18,182",30,0,NaN,0,12,18,405,99,291,15,0
14,Arcade Village,"2,053",0,0,NaN,0,0,0,39,3,35,1,0
15,Ardsley Village,"4,523",5,0,NaN,0,3,2,33,4,28,1,0
16,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
17,Attica Village,"2,522",2,0,NaN,0,0,2,5,0,4,1,0
18,Auburn,"27,270",96,1,NaN,20,22,53,859,132,721,6,NaN
19,Avon Village,"3,333",1,0,NaN,0,1,0,25,3,20,2,NaN
20,Baldwinsville Village,"7,473",5,0,NaN,0,1,4,88,10,77,1,0
21,Ballston Spa Village,"5,418",8,0,NaN,0,3,5,94,16,78,0,1
22,Batavia,"15,374",57,0,NaN,7,13,37,559,103,454,2,NaN
23,Bath Village,"5,733",15,0,NaN,1,3,11,191,32,157,2,2
24,Bedford Town,"17,627",5,0,NaN,0,1,4,156,26,127,3,NaN
25,Bethlehem Town,"34,243",13,0,NaN,0,3,10,442,50,388,4,NaN
26,Binghamton,"46,304",284,3,NaN,19,101,161,"2,349",525,"1,767",57,NaN
27,Black River,"1,410",0,0,NaN,0,0,0,14,2,12,0,0
28,Blooming Grove Town,"12,001",8,0,NaN,1,0,7,99,20,72,7,NaN
29,Bolivar Village,"1,022",1,0,NaN,0,0,1,4,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Utica,"61,686",361,7,NaN,27,102,225,"2,528",449,"1,997",82,NaN
326,Vestal Town,"27,980",16,0,NaN,2,6,8,571,39,523,9,NaN
327,Walden Village,"6,887",18,1,NaN,2,1,14,142,13,124,5,NaN
328,Wallkill Town,"27,940",40,0,NaN,3,16,21,767,91,650,26,1
329,Walton Village,"3,012",6,0,NaN,1,0,5,68,18,50,0,NaN
330,Warsaw Village,"3,453",6,0,NaN,1,0,5,78,5,73,0,0
331,Washingtonville Village,"5,828",2,0,NaN,0,1,1,58,5,51,2,0
332,Waterford Town and Village,"8,392",4,0,NaN,0,0,4,59,6,52,1,0
333,Waterloo Village,"5,175",11,0,NaN,0,3,8,194,23,169,2,NaN
334,Watertown,"28,179",109,0,NaN,12,16,81,"1,165",169,953,43,NaN
335,Watervliet,"10,245",26,1,NaN,3,11,11,242,58,163,21,NaN
336,Watkins Glen Village,"1,862",6,0,NaN,0,0,6,92,10,80,2,NaN
337,Waverly Village,"4,337",5,0,NaN,0,1,4,54,9,41,4,NaN
338,Webster Town and Village,"43,777",21,0,NaN,2,3,16,469,101,361,7,NaN
339,Weedsport Village,"1,797",0,0,NaN,0,0,0,25,5,20,0,0
340,Wellsville Village,"4,574",11,0,NaN,1,0,10,164,32,129,3,1
341,Westhampton Beach Village,"1,732",2,0,NaN,0,0,2,44,4,37,3,0
342,West Seneca Town,"44,821",35,1,NaN,1,9,24,896,166,710,20,0
343,Whitehall Village,"2,604",6,0,NaN,0,0,6,62,12,49,1,NaN
344,White Plains,"57,559",78,1,NaN,3,28,46,"1,232",77,"1,134",21,NaN
345,Whitesboro Village,"3,733",4,0,NaN,0,0,4,36,14,21,1,0
346,Whitestown Town,"9,141",0,0,NaN,0,0,0,77,13,61,3,0
347,Woodbury Town,"10,685",3,0,NaN,0,2,1,541,9,529,3,NaN
348,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
349,Woodstock Town,"5,931",2,0,NaN,0,0,2,58,13,45,0,NaN
350,Yonkers,"199,134","1,036",6,NaN,25,390,615,"2,368",470,"1,662",236,10
351,Yorktown Town,"36,643",15,0,NaN,0,2,13,334,45,287,2,NaN
352,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
column = pd.Series(crime.iloc[3]).values

In [4]:
crime = crime.drop(crime.index[[0,1,2,3,352,353,354]])
crime.columns = column
crime.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
4,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0
5,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0
6,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0
7,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN
8,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN

In [5]:
crime = crime.reset_index(drop=True)
feature = ['Population','Murder and\nnonnegligent\nmanslaughter','Robbery']
crime[feature].head()

  Population Murder and\nnonnegligent\nmanslaughter Robbery
0      1,861                                      0       0
1      2,577                                      0       0
2      2,846                                      0       0
3     97,956                                      8     227
4      6,388                                      0       4

In [6]:
features = pd.DataFrame()

In [7]:
#Target
features['Target'] = crime['Violent\ncrime'].str.replace(',','')
for i in range(len(crime['Violent\ncrime'])):
    features['Target'][i] = int(features['Target'][i])

In [8]:
#Population
features['Population'] = crime['Population'].str.replace(',','')
for i in range(len(crime['Population'])):
    features['Population'][i] = int(features['Population'][i])

In [9]:
#Population squared
features['Pop Squared'] = features['Population']
for i in range(len(features['Population'])):
    features['Pop Squared'][i] = int(features['Pop Squared'][i])*int(features['Pop Squared'][i])

In [10]:
#Murder
features['Murder'] = crime['Murder and\nnonnegligent\nmanslaughter'].str.replace(',','')
for i in range(len(crime['Murder and\nnonnegligent\nmanslaughter'])):
    features['Murder'][i] = int(features['Murder'][i])
    if features['Murder'][i] == 0:
        features['Murder'][i] = 0
    else:
        features['Murder'][i] = 1

In [11]:
#Robbery
features['Robbery'] = crime['Robbery'].str.replace(',','')
for i in range(len(crime['Robbery'])):
    features['Robbery'][i] = int(features['Robbery'][i])
    if features['Robbery'][i] == 0:
        features['Robbery'][i] = 0
    else:
        features['Robbery'][i] = 1

In [12]:
features

    Target Population  Pop Squared Murder Robbery
0        0       1861      3463321      0       0
1        3       2577      6640929      0       0
2        3       2846      8099716      0       0
3      791      97956   9595377936      1       1
4       23       6388     40806544      0       1
5        5       4089     16719921      0       1
6        3       1781      3171961      0       0
7      107     118296  13993943616      1       1
8        9       9519     90611361      0       1
9       30      18182    330585124      0       1
10       0       2053      4214809      0       0
11       5       4523     20457529      0       1
12       0        658       432964      0       0
13       2       2522      6360484      0       0
14      96      27270    743652900      1       1
15       1       3333     11108889      0       1
16       5       7473     55845729      0       1
17       8       5418     29354724      0       1
18      57      15374    236359876      0       1
19      15       5733     32867289      0       1
20       5      17627    310711129      0       1
21      13      34243   1172583049      0       1
22     284      46304   2144060416      1       1
23       0       1410      1988100      0       0
24       8      12001    144024001      0       0
25       1       1022      1044484      0       0
26       2       2325      5405625      0       0
27       1       2054      4218916      0       0
28       4       2065      4264225      0       1
29       0       2358      5560164      0       0
..     ...        ...          ...    ...     ...
318      3       3642     13264164      0       0
319      0        615       378225      0       0
320     14      12195    148718025      0       1
321    361      61686   3805162596      1       1
322     16      27980    782880400      0       1
323     18       6887     47430769      1       1
324     40      27940    780643600      0       1
325      6       3012      9072144      0       0
326      6       3453     11923209      0       0
327      2       5828     33965584      0       1
328      4       8392     70425664      0       0
329     11       5175     26780625      0       1
330    109      28179    794056041      0       1
331     26      10245    104960025      1       1
332      6       1862      3467044      0       0
333      5       4337     18809569      0       1
334     21      43777   1916425729      0       1
335      0       1797      3229209      0       0
336     11       4574     20921476      0       0
337      2       1732      2999824      0       0
338     35      44821   2008922041      1       1
339      6       2604      6780816      0       0
340     78      57559   3313038481      1       1
341      4       3733     13935289      0       0
342      0       9141     83557881      0       0
343      3      10685    114169225      0       1
344      7        829       687241      0       0
345      2       5931     35176761      0       0
346   1036     199134  39654349956      1       1
347     15      36643   1342709449      0       1

[348 rows x 5 columns]